//Colors
$black-main: #222228;
$white: #fff;

//Fonts
$font-family-base: 'Avenir Next', helvectica, sans-seriff;

//Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop-small: 992px;
$desktop-large: 1200px;
